<div class="dialog-title">
  <h1 mat-dialog-title>{{ dialogTitle }}</h1>
</div>

<mat-dialog-content [formGroup]="form" class="dialog-content">
  <div class="form-field">
    <mat-form-field>
      <input matInput formControlName="title" placeholder="Title">
    </mat-form-field>
  </div>

  <div class="form-field">
    <mat-form-field>
      <mat-select formControlName="color" placeholder="Select a color">
        <mat-option value="#feff9c">YELLOW</mat-option>
        <mat-option value="#7afcff">BLUE</mat-option>
        <mat-option value="#ff7eb9">PINK</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="form-field">
    <mat-form-field>
      <textarea matInput formControlName="description" placeholder="Description"></textarea>
    </mat-form-field>
  </div>

  <div class="form-field">
    <input type="file"
           (change)="uploadFile($event)"
           accept=".jpeg, .png, .gif"
           placeholder="Upload Image" class="upload-field">
  </div>

    <!-- Image Preview -->
  <div *ngIf="imagePreviewUrl" class="image-preview">
    <img [src]="imagePreviewUrl" alt="Task Image" class="image-thumbnail">
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button" (click)="close()">Close</button>
  <button class="mat-raised-button mat-primary" (click)="save()">Save</button>
</mat-dialog-actions>
